In [2]:
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

SN = 'sim_number'

def isPalindrome(s):
    return s == s[::-1]

df = pd.read_csv('train_dataset.csv')

df[SN] = df[SN].astype(str)
df = df.assign(chu_so=0,nghich_dao=0,phat_loc=0,tien_len_chan=0,sinh_tai_loc_phat=0,phat_tai_phat_loc=0,than_tai_nho=0,than_tai_lon=0,ong_dia_nho=0,ong_dia_lon=0,tam_hoa=0,luc_quy_giua=0,luc_quy_duoi=0,ngu_quy_giua=0,ngu_quy_duoi=0,tu_quy_giua=0,tu_quy_duoi=0,san_bang_tat_ca=0,bon_mua_khong_that=0,doc_nhat_vo_nhi=0,soi_guong=0,soi_guong_vip=0,sanh_tien=0,duoi_sanh_tien=0,lap_doi=0,lap_tam=0,lap_tu=0)

for idx, row in df.iterrows():

    df['chu_so'][idx] = len(set(row[SN]))

#     if (isPalindrome(row[SN])):
#         df['nghich_dao'][idx] = 1

#     if (row[SN][-2:] == '68' or row[SN][-2:] == '86'):
#         while (row[SN].find('68') != -1):
#             df['phat_loc'][idx] = df['phat_loc'][idx] + 1
#         while (row[SN].find('86') != -1):
#             df['phat_loc'][idx] = df['phat_loc'][idx] + 1
#         if (row[SN][-4:-2] == '24'):
#             while (row[SN].find('2468') != -1):
#                 df['tien_len_chan'][idx] = df['tien_len_chan'][idx] + 1
#         if (row[SN][-4:-2] == '13'):
#             while (row[SN].find('1368') != -1):
#                 df['sinh_tai_loc_phat'][idx] = df['sinh_tai_loc_phat'][idx] + 1

#     while (row[SN].find('8683') != -1):
#         df['phat_tai_phat_loc'][idx] = df['phat_tai_phat_loc'][idx] + 1

#     if (row[SN][-2:] == '39'):
#         while (row[SN].find('39')):
#             df['than_tai_nho'][idx] = df['than_tai_nho'][idx] + 1

#     if (row[SN][-2:] == '79'):
#         while (row[SN].find('79')):
#             df['than_tai_lon'][idx] = df['than_tai_lon'][idx] + 1

#     if (row[SN][-2:] == '38'):
#         while (row[SN].find('38')):
#             df['ong_dia_nho'][idx] = df['ong_dia_nho'][idx] + 1

#     if (row[SN][-2:] == '78'):
#         while (row[SN].find('78')):
#             df['ong_dia_lon'][idx] = df['ong_dia_lon'][idx] + 1

#     if (row[SN][-3:] == '\d{3}'):
#         df['tam_hoa'][idx] = 1
#         if (row[SN][-6:-3] == '\d{3}' and row[SN][-6:-3] != row[SN][-3:]):
#             df['tam_hoa'][idx] = df['tam_hoa'][idx] + 1
#             if (row[SN][:3] == '\d{3}' and row[SN][:3] != row[SN][-6:-3]):
#                 df['tam_hoa'][idx] = df['tam_hoa'][idx] + 1

#     if (row[SN][-6:] == '\d{6}'):
#         df['luc_quy_duoi'][idx] = 1
#     else:
#         df['luc_quy_giua'][idx] = df['luc_quy_giua'][idx] + len(re.findall('\d{6}', row[SN]))

#     if (row[SN][-5:] == '\d{5}'):
#         df['ngu_quy_duoi'][idx] = 1
#     else:
#         df['ngu_quy_giua'][idx] = df['ngu_quy_giua'][idx] + len(re.findall('\d{5}', row[SN]))

#     if (row[SN][-4:] == '\d{4}'):
#         df['tu_quy_duoi'][idx] = 1
#     else:
#         df['tu_quy_giua'][idx] = df['tu_quy_giua'][idx] + len(re.findall('\d{4}', row[SN]))

#     if (row[SN][-4:] == '6789'):
#         df['san_bang_tat_ca'][idx] = 1

#     if (row[SN][-4:] == '4078'):
#         df['bon_mua_khong_that'][idx] = 1

#     if (row[SN][-4:] == '1102'):
#         df['doc_nhat_vo_nhi'][idx] = 1

#     if (isPalindrome(row[SN][-6:])):
#         df['soi_guong'][idx] = 1
#         if (row[SN][0] == row[SN][2]):
#             df['soi_guong_vip'][idx] = 1

#     if (int(row[SN][-1]) == int(row[SN][-2]) + 1 and int(row[SN][-2]) == int(row[SN][-3]) + 1):
#         i = -1
#         count = 0
#         while (int(row[SN][i]) == int(row[SN][i - 1]) + 1):
#             count = count + 1
#             i = i - 1
#         df['sanh_tien'][idx] = count
#         df['duoi_sanh_tien'][idx] = row[SN][-1]
    
#     if (df['tam_hoa'][idx] == 0 and df['tu_quy_duoi'][idx] == 0 and df['ngu_quy_duoi'][idx] == 0 and df['luc_quy_duoi'][idx] == 0):
#         df['lap_doi'][idx] = re.findall(row[SN][-2:], row[SN])
#         df['lap_tam'][idx] = re.findall(row[SN][-3:], row[SN])
#         df['lap_tu'][idx] = re.findall(row[SN][-4:], row[SN])

df.head(10)
# sns.heatmap(df.corr(), annot=True)

,price_vnd,sim_number,chu_so,nghich_dao,phat_loc,tien_len_chan,sinh_tai_loc_phat,phat_tai_phat_loc,than_tai_nho,than_tai_lon,...,san_bang_tat_ca,bon_mua_khong_that,doc_nhat_vo_nhi,soi_guong,soi_guong_vip,sanh_tien,duoi_sanh_tien,lap_doi,lap_tam,lap_tu
0,99000,392153629,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,99000,365538916,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,99000,362962038,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,99000,367167769,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,99000,353395329,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,99000,356523869,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,99000,365996318,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,99000,368621326,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,99000,352500658,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,99000,358895619,6,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0